body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
    text-align: left;
    color: #34608d;
    font-weight: 600;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: none;
}

#footer {
    background-color:#34608d;
    width: 100%;
}

#footer p {
    color: #ffffff;
    margin: 10px;
}

dd {
   margin-left: 40px;
}

.table > tbody > tr > td {
    border-bottom: 35px solid #34608d;
}

.table > tbody > tr > td {
    border-top: 35px solid #34608d;
}

.table-responsive {
    border: none;
}

.navbar-inverse {
    background-color:#34608d;
    border-color:#34608d;
}

a {
    color: #34608d;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #93c54b;
}

.add-button {
    background-color: #34608d;
    color: #ffffff;
    margin-bottom: 7px;
    font-size: 10px;
}

.add-button:hover {
    color: #93c54b;
}

.form-control {
    border: 1px solid #34608d;
}

.control-label {
    color: #6a952d;
    font-weight: 400;
}

.text-left {
    text-align: right;
}

.create-button {
    background-color: #34608d;
    color: #ffffff;
    font-size: 10px;
}
.create-button:hover {
    color: #93c54b;
}

.column-name td {
    font-size: 12px;
    text-transform: uppercase;
    padding: 0;
    color: #34608d;
    font-weight: 600;

}

